<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="css/Bhardwaj.css" />
<header>
<ul>

            <li><a href="Home.html">Home</a></li>
            <li><a href="Interest.html">Interest Calculator</a></li>
            <li><a href="Contact.html">Contact</a></li>
            <li><a href="guestbook">Guestbook</a></li>
</ul>
</header>
<meta charset="utf-8">
<title>Express Guestbook</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="guestbook.css">
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body class="container">
<h1>
Bhardwaj's Express Guestbook
<a href="/new-entry" class="btn btn-primary pull-right">
Write in the guestbook
</a>
</h1>