 .header {
     list-style-type: none;
     padding: 12px;
     margin-left: -1%;
     margin-top: -0.8%;
     overflow: hidden;
     background-color: #F3F3F3;
     width: 100%;
     -webkit-box-shadow: 5px -3px 15px 3px rgba(0, 0, 0, 0.6);
     -moz-box-shadow: 5px -3px 15px 3px rgba(0, 0, 0, 0.6);
     box-shadow: 5px -3px 15px 3px rgba(0, 0, 0, 0.6);
 }
 
 body {
     background-color: lightgrey;
 }
 
 ul {
     list-style-type: none;
     padding: 12px;
     margin-left: -1%;
     margin-top: -0.8%;
     overflow: hidden;
     background-color: #F3F3F3;
     width: 100%;
     -webkit-box-shadow: 5px -3px 15px 3px rgba(0, 0, 0, 0.6);
     -moz-box-shadow: 5px -3px 15px 3px rgba(0, 0, 0, 0.6);
     box-shadow: 5px -3px 15px 3px rgba(0, 0, 0, 0.6);
 }
 
 .leftpane {
     height: 582px;
     background-color: #007ACC;
     /* box-shadow: 20px;*/
     width: 220px;
     margin-top: -8px;
     margin-left: -8px;
     /*text-align:center;*/
     font-family: Helvetica;
     -webkit-box-shadow: 5px -3px 15px 3px rgba(0, 0, 0, 0.6);
     -moz-box-shadow: 5px -3px 15px 3px rgba(0, 0, 0, 0.6);
     box-shadow: 5px -3px 15px 3px rgba(0, 0, 0, 0.6);
 }
 
 #displayEMI {
     height: 30px;
     width: 80px;
 }
 
 h4 {
     text-align: center;
 }
 
 #image {
     height: 150px;
     width: 150px;
     margin-left: 32px;
     margin-top: 32px;
     border-radius: 72px;
 }
 
 li {
     float: left;
 }
 
 li a {
     display: block;
     font-family: Helvetica;
     color: #666974;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
 }
 
 li a:hover {
     background-color: #4882E4;
     /*#0008CBA*/
     color: white;
     /*text-decoration: underline;*/
 }
 
 li a:focus {
     background-color: #4882EA;
     /*#0008CBA*/
     color: white;
 }
 
 .shade {
     color: yellow;
     height: 0.2px;
     width: 100%;
 }
 
 .fb {
     height: 40px;
     width: 40px;
     border-radius: 20px;
     text-align: center;
     margin-left: 20px;
     font-size: 40px;
 }
 
 .labes {
     font-size: 20px;
 }
 
 .tw {
     height: 40px;
     width: 40px;
     border-radius: 20px;
     text-align: center;
     margin-left: 20px;
 }
 
 .gb {
     height: 40px;
     width: 40px;
     border-radius: 20px;
     text-align: center;
     margin-left: 20px;
 }
 
 a {
     color: black;
 }
 
 a:hover {
     color: white;
 }
 
 .cont {
     margin-left: 40%;
     margin-top: -41%;
     font-family: Arial;
 }
 
 p {
     margin-left: 20%;
     margin-right: 10%;
     margin-top: 0%;
     font-family: Arial;
 }
 
 .textbox {
     width: 251px;
     height: 30px;
     border: 1px solid #3366FF;
     border-left: 16px solid #3366FF;
 }
 
 .button {
     border: 1px solid cornflowerblue;
     height: 48px;
     width: 200px;
     align: center;
     margin-left: 24px;
 }
 
 .video {
     margin-left: 31%;
     padding-top: -28%;
     border-radius: 10px;
 }